@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700,900');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

a:link {
  font-weight: bold;
  color: var(--brandcolor);
  text-decoration: none;
}

a:visited {
  color: var(--brandcolor);
  font-weight: bold;
}

a:hover {
  color: var(--brandcolor-light);
}

a:active {
  color: var(--brandcolor);
}

.error-wiggle {
  animation: shake 700ms;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-3px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(3px, 0, 0);
  }
}
