.lfinputpassword {
  position: relative;
  width: 374px;
  height: 59px;
}

.lfinputpassword-input {
  top: -32px;
}
.lfinputpassword-eye {
  position: relative;
  top: 18px;
  left: 338px;
  color: var(--brandcolor-light);
  z-index: 3;
}
