.lfswitchlink-text {
  color: var(--input-label);
  font-size: 13px;
}

.lfswitchlink-text p {
  color: var(--input-label);
  margin: 0 6px 0 0;
}
.lfswitchlink-text p a {
  margin: 0 0 0 6px;
  font-size: 13px;
}

.lfswitchlink-text a:link {
  font-weight: bold;
  color: var(--input-label);
  text-decoration: none;
}

.lfswitchlink-text a:visited {
  color: var(--input-label);
  font-weight: bold;
}

.lfswitchlink-text a:hover {
  color: var(--brandcolor);
}

.lfswitchlink-text a:active {
  color: var(--brandcolor);
}
