.lftextinput-wrap {
  position: relative;
  width: 374px;
  height: 59px;
  border: 1px solid var(--input-border);
  text-align: left;
  padding: 0;
  margin: 0;
}

.lftextinput-label {
  position: relative;
  margin: 0 0 0 16px;
  padding: 0;
  font-size: 12px;
  color: var(--input-label);
}

.lftextinput-focus {
  position: relative;
  top: -46px;
  left: 0;
  width: 4px;
  height: 57px;
  opacity: 0;
  background-color: var(--brandcolor);
  transition: opacity 300ms ease-in-out;
}

.lftextinput-input {
  position: relative;
  bottom: -8px;
  left: 16px;
  height: 24px;
  width: 340px;

  font-size: 16px;
  color: var(--brandcolor);

  border: none;

  outline: none;
}

.lftextinput-error {
  position: relative;
  left: 16px;
  font-size: 13px;
  color: var(--input-error);

  opacity: 1;
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: pulse;
}
.lftextinput-bottom {
  top: -44px;
}
.lftextinput-top {
  top: -148px;
}

.lftextinput-showfocus {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.65;
  }

  to {
    opacity: 1;
  }
}
