.login-content {
  width: 374px;
  height: 468px;
}

.login-switch {
  text-align: right;
}

.login-banner {
  margin-top: 41px;
}

.login-message {
  margin-top: 10px;
  margin-bottom: 61px;
  font-size: 15px;
}

.login-forgot {
  position: relative;
  top: 110px;
  font-size: 12px;
}

.login-forgot:link {
  color: var(--input-label);
  text-decoration: none;
}

.login-forgot:visited {
  color: var(--input-label);
}

.login-forgot:hover {
  color: var(--brandcolor);
}

.login-forgot:active {
  color: var(--brandcolor);
}

.login-rem {
  position: relative;
  top: 80px;
  left: 260px;
  font-size: 12px;
}
