.login-content {
  width: 374px;
  height: 468px;
}

.login-switch {
  text-align: right;
}

.login-banner {
  margin-top: 41px;
}

.login-message {
  margin-top: 10px;
  margin-bottom: 41px;
  font-size: 15px;
}

.login-forgot a:link {
  color: var(--input-label);
  text-decoration: none;
}

.login-forgot a:visited {
  color: var(--input-label);
}

.login-forgot a:hover {
  color: var(--brandcolor);
}

.login-forgot a:active {
  color: var(--brandcolor);
}
