.signup-wrap {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../img/hero-bg.jpg');
  background-size: cover;
}

.signup-content {
  position: absolute;
  left: 349px;
  width: calc(100% - 349px);
  height: 100%;
}

.signup-form {
  position: relative;
  width: 873px;
  height: 524px;
  background-color: white;
}

.signup-switch {
  position: absolute;
  right: 53px;
}

.signup-banner {
  position: absolute;
  left: 88px;
  top: 85px;
}

.signup-message {
  position: absolute;
  left: 88px;
  top: 128px;
}

.signup-input {
  position: absolute;
  top: 239px;
  left: 88px;
}

.signup-button {
  position: absolute;
  right: 62px;
  bottom: 30px;
}

.signup-legal {
  position: absolute;
  bottom: 36px;
  left: 88px;
}

.signup-email-show {
  opacity: 1;
  visibility: visible;
  top: 239;
  transition: all 500ms ease-out;
}

.signup-email-hide {
  opacity: 0;
  visibility: hidden;
  top: 179px;
  transition: all 500ms ease-out;
}

.signup-password-show {
  opacity: 1;
  visibility: visible;

  top: 239;
  transition: all 500ms ease-out;
}

.signup-password-hide {
  opacity: 0;
  visibility: hidden;

  top: 309px;
  transition: all 500ms ease-out;
}

.signup-to-email {
  position: absolute;
  top: 220px;
  left: 368px;

  border: none;

  font-size: 10px;
  font-weight: 300;
  color: var(--brandcolor);
  cursor: default;
}

.signup-to-email-show {
  opacity: 1;
  visibility: visible;

  top: 239;
  transition: all 500ms ease-out;
}

.signup-to-email-hide {
  opacity: 0;
  visibility: hidden;

  top: 309px;
  transition: all 500ms ease-out;
}
