.signup-wrap {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../img/hero-bg.jpg');
  background-size: cover;
}

.signup-content {
  position: absolute;
  left: 349px;
  width: calc(100% - 349px);
  height: 100%;
}

.signup-form {
  position: relative;
  width: 873px;
  height: 524px;
  background-color: white;
}

.signup-switch {
  position: absolute;
  right: 53px;
}

.signup-banner {
  position: absolute;
  left: 88px;
  top: 85px;
}

.signup-message {
  position: absolute;
  left: 88px;
  top: 128px;
}

.signup-email {
  position: absolute;
  top: 239px;
  left: 88px;
}

.signup-email1 {
  position: absolute;
  top: 339px;
  left: 88px;
}

.signup-button {
  position: absolute;
  right: 62px;
  bottom: 30px;
}

.signup-legal {
  position: absolute;
  bottom: 36px;
  left: 88px;
}
