.signup-content {
  width: 374px;
  height: 468px;
}

.signup-switch {
  text-align: right;
}

.signup-banner {
  margin-top: 41px;
}

.signup-message {
  margin-top: 10px;
  font-size: 15px;
}

.signup-input {
  position: absolute;
  top: 0;
  left: 88px;
}

.signup-button {
  position: absolute;
  right: 62px;
  bottom: 30px;
}

.signup-legal {
  position: absolute;
  bottom: 36px;
  left: 88px;
}

.signup-to-email {
  position: absolute;
  top: 210px;
  left: 390px;

  border: none;

  font-size: 10px;
  font-weight: 300;
  color: var(--brandcolor);
  cursor: default;
}

.signup-to-email-show {
  opacity: 1;
  visibility: visible;

  top: 219px;
  transition: all 500ms ease-out;
}

.signup-to-email-hide {
  opacity: 0;
  visibility: hidden;

  top: 309px;
  transition: all 500ms ease-out;
}

.signup-hide-up {
  opacity: 0;
  pointer-events: none;

  top: 139px;
  transition: all 500ms ease-out;
}

.signup-show {
  opacity: 1;

  top: 239px;
  transition: all 500ms ease-out;
}

.signup-hide-dn {
  opacity: 0;
  pointer-events: none;

  top: 339px;
  transition: all 500ms ease-out;
}
